<app-coins></app-coins>
<hr>
<div class="d-flex flex-column align-items-center">
    <h3 class="h3 text-center">Crypto List</h3>
    <table>
        <tr class="d-flex gap-3 align-items-center m-2" *ngFor="let coin of this.API.coins | slice: (page-1) * pageSize : page * pageSize">
            <i *ngIf="this.db.isCoinFav(coin.id) else find" class="fa-solid fa-star" (click)="this.db.removeCoin(coin.id, this.authService.user_id)"></i>
            <ng-template #find>
                <i class="fa-regular fa-star" (click)="this.db.addCrypto(coin.id, this.authService.user_id)"></i>
            </ng-template>
            <img [src]="coin.image.large" style="width:32px">
            <h5>{{coin.name}}</h5>
        </tr>
    </table>
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="this.API.coins.length">
    </ngb-pagination>
</div>